# access to perflock
unix_socket_send(untrusted_app, mpctl, mpdecision)
unix_socket_connect(untrusted_app, mpctl, mpdecision)

# diag device node access is restricted to untrusted_app
neverallow untrusted_app diag_device:chr_file rw_file_perms;

# test apps needs to communicate with imscm
# using binder call
userdebug_or_eng(`
  binder_call(untrusted_app, imscm)
')

# for finding wbc_service
allow untrusted_app wbc_service:service_manager find;

# using binder call
userdebug_or_eng(`
  allow untrusted_app improve_touch_service:service_manager find;
  binder_call(untrusted_app, hbtp);
')

allow untrusted_app adb_data_file:dir getattr;
allow untrusted_app apk_private_data_file:dir getattr;
allow untrusted_app asec_image_file:dir getattr;
allow untrusted_app backup_data_file:dir getattr;
allow untrusted_app bootchart_data_file:dir getattr;
allow untrusted_app camera_socket:dir getattr;
allow untrusted_app cnd_data_file:dir getattr;
allow untrusted_app dpmd_data_file:dir getattr;
allow untrusted_app drm_data_file:dir getattr;
allow untrusted_app install_data_file:file getattr;
allow untrusted_app media_data_file:dir getattr;
allow untrusted_app nfc_data_file:dir getattr;
allow untrusted_app property_data_file:dir getattr;
allow untrusted_app system_data_file:sock_file getattr;
allow untrusted_app time_data_file:dir getattr;
